# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Firebase settings not needed for auth
.firebaserc
database.rules.json
firestore.rules
firestore.indexes.json
remoteconfig.template.json
storage.rules
dataconnect/
dataconnect-generated/
functions/

.env